@{
    ViewBag.Title = "Online Shoppping Store";
}
<h2>About us</h2>

<td>Online Shpping store provides you to buy eletronic equipment online.
    Our Web shop allows you to shop easily from the comfort of your home.
    Here you can find a lot of different products at low prices. In order to make the visit to our page pleasant and as 
    less complicated as possible, we decided to simplify the use of the page as much as we can. 
    Therefore, our aim is to explain all the details and possibilities that are a part of our new Webshop.
</td>
<td>
<div>We are curently located in New York but we have lots of difrent locations across the world.</div> 
</td>

<h2>Contact Us</h2>
<div>If you have any problem or question send as a contact us as at: OnlineShoppingStore@gmail.com </div>
<div>or call us: (0)1 3696-999</div>
